<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Property Tax Online2</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Latest compiled and minified CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" type="text/css">

    @Styles.Render("~/Content/themes/base/css")
</head>
<body data-ng-app="mainModule">
    <!--[if lt IE 9]><p class="error" style="clear:both;">'Breeze + Angular' requires browser support for defined properties.</p><![endif]-->
    <div id="userSettings">
        @Html.Partial("_UserSettings")
    </div>
    
<div class="alert" data-ng-controller="MainController">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <span>{{ error }}</span>
    some errror

    <ul>
        <li ng-repeat="todo in todos">{{ todo.message }}</li>
    </ul>
</div>


    <div id="body">

        @if (@User.Identity.IsAuthenticated)
        {
            <div data-ng-view="" data-ng-animate=" 'animate' "></div> <!-- The SPA Views go here -->   
        }
        else
        {
            @Html.Partial("_Authentication")
        }
        @RenderBody()
    </div>



    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
    @Scripts.Render("~/bundles/breeze")
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/mainscripts")
    @Scripts.Render("~/bundles/ajaxlogin")
    @RenderSection("scripts", required: false)
</body>
</html>
